{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed{{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#get "posts" limit="all" order="published_at asce"}}
            {{#foreach posts visibility="all"}}
        </div>

    </div>
</main>