{{#get "posts" limit="all" order="published_at desc"}}
{{#foreach posts visibility="all"}}
<article class="archive-post archive-post-date-{{date format="M"}}">
    <p class="archive-post-label">{{date format="YYYY MMMM"}}</p>
    <a class="archive-post-link" href="{{url}}">
        <h2 class="archive-post-title">{{title}}</h2>
    </a>
<style>
.archive-post-date-1 + .archive-post-date-1 .archive-post-label,
.archive-post-date-2 + .archive-post-date-2 .archive-post-label,
.archive-post-date-3 + .archive-post-date-3 .archive-post-label,
.archive-post-date-4 + .archive-post-date-4 .archive-post-label,
.archive-post-date-5 + .archive-post-date-5 .archive-post-label,
.archive-post-date-6 + .archive-post-date-6 .archive-post-label,
.archive-post-date-7 + .archive-post-date-7 .archive-post-label,
.archive-post-date-8 + .archive-post-date-8 .archive-post-label,
.archive-post-date-9 + .archive-post-date-9 .archive-post-label,
.archive-post-date-10 + .archive-post-date-10 .archive-post-label,
.archive-post-date-11 + .archive-post-date-11 .archive-post-label,
.archive-post-date-12 + .archive-post-date-12 .archive-post-label {
    display: none;
}
.archive-post {
    margin: 0 0 24px;
}

.archive-post:first-child .archive-post-label {
    margin-top: 0;
}

.archive-post-label {
    color: var(--color-midgrey);
    margin: 24px 0 16px;
}

.archive-post-link {
    text-decoration: none !important;
    color: var(--color-darkgrey) !important;
}

.archive-post-link:hover {
    color: var(--ghost-accent-color) !important;
}

.archive-post-title {
    margin: 0;
    font-size: 2rem;
    line-height: 1.4;
}
</style>
</article>
{{/foreach}}
{{/get}}